<ol>
  <h2>Login</h2>
  <form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input 
        matInput 
        class="form-control" 
        placeholder="Email" 
        formControlName="username">
    </mat-form-field>
    <div class="form-error" *ngIf="username.invalid && (username.dirty || username.touched)">
      <div *ngIf="username.errors.required">
        required
      </div>
    </div>
    <mat-form-field>
      <input 
        matInput 
        class="form-control"
        placeholder="Password" 
        type="password" 
        formControlName="password">
    </mat-form-field>
    <div class="form-error" *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors.required">
        required
      </div>
    </div>
    <button  mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</ol>